.wrapper {
  color: #777;
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: 1px solid transparent;
  padding: 3px 7px;
  color: inherit;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(175, 47, 47, 0.1);
  }
}

.active {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.hidden {
  visibility: hidden;
}
